#content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 40px;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 23px -13px rgba(31, 38, 135, 0.7);
}

.card:hover {
  box-shadow: 10px 15px 30px -13px rgba(31, 38, 135, 0.37);
}

a > div {
  overflow-x: auto;
  overflow-y: hidden;
  width: 170px;
}

@media (max-width: 600px) {
  .card {
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 30px;
    font-size: initial;
  }

  .card > img {
    width: 30px;
    height: 30px;
  }

  a > div {
    width: 110px;
  }
}
